*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: auto;
    
}
.logo{
    width: 120px;
}
.card-code{
    width: 430px;
    height: 400px;
}