/* Manual code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con {
  width: 1280px;
  margin: auto;
  /* background: turquoise */
}
.logo {
  width: 140px;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-text {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.search-card {
  width: 370px;
  height: 400px;
  background: rgb(255, 252, 252);
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 140px;
  z-index: 11;
  box-shadow: 0 0 12px 1px rgb(120, 120, 120);
}
.banner img {
  width: 80%;
  height: 557px;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  top: 15px;
  left: 256px;
}
.card-body h2 {
  font-size: 30px;
}
form .location {
  width: 100%;
  margin-top: 17px;
  text-align: center;
  cursor: pointer;
}
form input {
  width: 120px;
  padding: 20px;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
}
.dates{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
form .dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-btn {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  background: #e41d56;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.slider {
  margin-top: 90px;
}
.hotels-card {
  display: flex;
  gap: 12px;
  margin-top: 20px;
 
}
.cards{
  transition: 0.5s ease-in-out;
}
.cards img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 12px 1px rgb(155, 155, 155);
  border-radius: 12px;
}
.cards:hover{
transform: scale3d(1.1, 1.1,1);
}
footer {
  margin-top: 30px;
  background-color: #f8f8f8;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  /* padding: 0; */
  /* margin: 0; */
  display: flex;
  align-items: center;
  margin-top: 10px;
  
}

footer ul li {
  margin: 0 20px;
  color: #555;
  display: flex;
  
}
footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}


footer ul li a:hover {
  color: #e11414;
  cursor: pointer;
  transform: scale3d(1.5,1.5,1);
  text-decoration: underline;

}
/* responsive  */
/* @media (max-width: 600px) {
  footer .con {
    flex-direction: column;
    align-items: flex-start;
  }
} */

@media (max-width:480px){
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner img{
    width: 100%;
    display: flex;
    position: relative;
   left: 12px;

  }
}
@media (max-width:756px){
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner img{
    width: 100%;
    display: flex;
    position: relative;
   left: 12px;

  }
}
@media (max-width:300px){
  .slider {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hotels-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}